<html>
<header>
  <link rel="stylesheet" href="assets/application.css"/>
  <script src="//code.jquery.com/jquery-latest.min.js"></script>
  <script src="//unslider.com/unslider.min.js"></script>
</header>
<body>



<div class="main">
    <div class="container">
      <div class="banner">
        <ul>
          <li> </li>
          <li> </li>
          <li> </li>
        </ul>
      </div>
    </div>
  </div>



</body>
</html>

<script>
 $(function() {
    $('.banner').unslider();
});
</script>
