<html>
<header>
  <link rel="stylesheet" href="assets/application.css"/>
</header>
<body>



<div class="main" style="padding-top: 45px;
background:url('/assets/IMG_9148.JPG')no-repeat center center fixed; background-size:cover; min-height: 500px; min-width: 800px;">
    <div class="container">
      <h1>Hello. My name is Adam Podraza and I develop applications.</h1>
      <a class="btn btn-default" href="#">View My Work </a>
    </div>
  </div>



</body>
</html>
