



<div class="main">
    <div class="container">
      <h1>Hello. My name is Adam Podraza and I develop applications.</h1>
      <a class="btn btn-default" href="#">View My Work </a>
    </div>
  </div>
