// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  max-width: 60%;
}

.footer {
  height: 50px;
}

.main {
  padding-top: 45px;
  background: url("IMG_9148.JPG");
  background-size:cover;
  min-height: 500px;
  min-width: 800px;

}
